[submodule "src/robotont_nuc_description"]
	path = src/robotont_nuc_description
	url = https://github.com/robotont/robotont_nuc_description
[submodule "src/robotont_description"]
	path = src/robotont_description
	url = https://github.com/robotont/robotont_description
[submodule "src/robotont_msgs"]
	path = src/robotont_msgs
	url = https://github.com/robotont/robotont_msgs
[submodule "src/robotont_demos"]
	path = src/robotont_demos
	url = https://github.com/robotont/robotont_demos
[submodule "src/robotont_navigation"]
	path = src/robotont_navigation
	url = https://github.com/robotont/robotont_navigation
[submodule "src/robotont_gazebo"]
	path = src/robotont_gazebo
	url = https://github.com/robotont/robotont_gazebo
[submodule "src/robotont_driver"]
	path = src/robotont_driver
	url = https://github.com/robotont/robotont_driver
[submodule "src/gazebo_ros_pkgs"]
	path = src/gazebo_ros_pkgs
	url = https://github.com/ros-simulation/gazebo_ros_pkgs.git
	branch = noetic-devel
[submodule "src/gazebo"]
	path = src/gazebo
	url = https://github.com/Tsapu/gazebo-metrics.git
[submodule "src/rviz"]
	path = src/rviz
	url = https://github.com/Tsapu/rviz-metrics.git
