[Desktop Entry]
Version=1.0
Name=Terminal
Exec=gnome-terminal -e "bash -c 'echo hello;$SHELL'"
#Exec=gnome-terminal -e "bash -c 'echo "" && cd $HOME && echo "Welcome to Remrob!" && echo "";$SHELL'"
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=Application;
X-GNOME-Autostart-enabled=true