[Unit]
Description=Starts a terminal for the users on container launch
After=syslog.target network.target

[Service]
Type=forking
User=kasutaja
WorkingDirectory=/home/kasutaja

ExecStartPre=/bin/sleep 5
#ExecStart=/bin/bash -c "export DISPLAY=:2 && gnome-terminal -- bash -c 'cd ~ && echo Welcome to Remrob!; exec $SHELL'"
#ExecStart=/bin/bash -c "export DISPLAY=:2 && cd ~ && source .scripts/performance_test.sh"
ExecStart=/bin/bash .scripts/performance_test.sh


[Install]
WantedBy=default.target

