[Unit]
Description=Starts a terminal for the users on container launch
After=syslog.target network.target

[Service]
Type=forking
User=kasutaja
ExecStartPre=/bin/sleep 3
ExecStart=/bin/bash -c "export DISPLAY=:2 && gnome-terminal -- bash -c 'echo ----; exec $SHELL'"
#ExecStart=/bin/bash -c "export DISPLAY=:2 && gnome-terminal"

[Install]
WantedBy=default.target

